@media screen and (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: rebeccapurple;
    }

    .app-main {
        height: 100vh;
        width: 100%;
        background-color: rgb(21, 21, 21);
        color: white;
        padding: 1rem;
        position: relative;
        overflow: hidden;
        font-family: "Montserrat", sans-serif;

    }

    /* Home design */
    .home {
        background-color: tan;
        height: 80%;
        margin-top: 5%;
        padding: 10px;
        background: none;
        /* border: 1px solid rgb(236, 232, 232, 0.5); */
        /* box-shadow: 0.5px -0.5px 10px rgb(50, 49, 49); */
        border-radius: 25px;

    }

    /* Nav */
    .nav {
        position: fixed;
        bottom: 2%;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);

        height: 100px;
        border-radius: 25px;
        padding: 20px;

        box-shadow: 0.5px -0.5px 15px rgb(41, 40, 40);
    }

    /* Logo */
    .logo {
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        text-align: center;
        color: rgb(251, 251, 38);
    }

    /* Add btn */
    .add-btn {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        background-color: rgb(168, 108, 229);
        position: fixed;
        right: 5%;
        bottom: 16%;
    }

}