@media screen and (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* 
    body {
        background-color: var(--main-bg-color);
        /* background-image: url('./Assets/_.jpeg'); */

    /* } */

    .app-main {
        height: 100vh;
        width: 100%;
        background: rgb(17, 17, 17);

        padding: 1rem;
        position: relative;
        overflow: hidden;
        font-family: "Montserrat", sans-serif;



    }

    /* Home design */
    .home {

        height: 90%;
        margin-top: 5%;
        padding: 10px;


        border-radius: 25px;
        overflow-y: scroll;
        padding-bottom: 20%;

    }

    .home::--webkit-scrollbar {
        display: none;
    }


    .overall-info {
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
        background: rgb(0, 0, 0);
        height: fit-content;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overall-info span i {
        font-size: 5rem;
    }

    /* Calendar Styles */
    .calendar-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 5px;
    }

    .calendar-header {
        text-align: center;
        margin-bottom: 6px;
    }

    .calendar-header h3 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 3px;
        flex: 1;
        min-height: 0;
    }

    .calendar-day-name {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 4px 0;
        color: rgba(255, 255, 255, 0.8);
    }

    .calendar-day {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .calendar-day:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .calendar-day-other-month {
        opacity: 0.3;
        cursor: default;
    }

    .calendar-day-other-month:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .calendar-day-today {
        background-color: rgb(162, 189, 244);
        color: rgb(17, 17, 17);
        font-weight: 700;
        box-shadow: 0 0 8px rgba(176, 197, 239, 0.5);
    }

    .calendar-day-today:hover {
        background-color: rgb(176, 197, 239);
    }

    .prev-entry {
        /* height: fit-content; */
        /* overflow: hidden; */
        overflow-y: scroll;
        max-height: 25%;
        margin-top: 20px;
        transition: all 0.3s ease-in-out;

    }

    .deactive {
        height: 0px;
        overflow: hidden;
    }

    .active {
        overflow-y: scroll;
        max-height: 300px;
        margin-top: 20px;
        padding-bottom: 50px;
    }

    .see-prev {
        height: 7%;
        background-color: rgb(50, 49, 51);
        margin-top: 10px;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .see-prev span i {
        font-size: 25px;
    }

    /* .current-day-info {
        background-color: tan;
    } */

    /* Logo */
    .logo {
        font-size: 35px;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        text-align: center;
        color: white;

    }

    /* Nav */
    .nav {
        position: fixed;
        bottom: 0%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);

        height: 100px;

        padding: 20px;
        background: rgb(50, 49, 51);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

    }

    .circ-des {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: rgb(17, 17, 17);
        position: absolute;
        top: -30%;
        right: 50%;
        transform: translateX(50%);
        z-index: 99;
    }

    .nav-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 10;
        position: relative;
    }

    .nav-home a {
        color: rgb(255, 255, 255);
        display: block;
        margin-top: 0px !important;
        padding-bottom: 0px !important;

    }

    .nav-home a.active {

        overflow-y: hidden !important;

    }

    .nav-home i {
        /* color: white; */
        font-size: 2.5rem;
        cursor: pointer;
    }




    /* Add btn */
    .add-btn {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;

        position: fixed;
        right: 50%;
        bottom: 15%;
        transform: translateX(50%);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        z-index: 9999;
    }

    .add-btn-main {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        height: 200px;
        width: 200px;
        /* background: rebeccapurple; */
    }

    .side-btns {
        height: 100px;
        width: 200px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        background-color: rgb(55, 51, 59);
        background: none;
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 10px;


    }

    .btn-active {
        height: 220px;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    .btn-deactive {
        height: 100px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .inner-btn {
        height: 40px;
        width: 60%;

        background-color: white;
        text-align: center;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        cursor: pointer;

    }

    /* Dayoverview ccomponent */
    .day-overview {

        height: fit-content;
        width: 100%;

        border-radius: 20px;
        padding: 20px;

        overflow-y: scroll;
        margin-top: 10px;
        background: rgb(131, 200, 240);

    }


    .day-overview h2 {
        font-size: 20px;
    }

    .day-overview-outer {
        display: flex;
        justify-content: space-between;
    }

    .day-overview-outer img {
        height: 70px;
        width: 70px;
        /* border-radius: 50%; */
        margin-right: 10px;
    }

    /* Full dairy page */
    .full-dairy-page {


        width: 100%;

        padding: 10px;

        z-index: 10;
        margin-top: 50px;

        border-radius: 20px;
        color: rgb(182, 180, 180);
        height: 80%;
        overflow-y: scroll;
        padding-bottom: 50px;
    }

    .dairy-page-inside {
        height: fit-content;
        width: 100%;

        padding: 10px;
        position: relative;
    }

    .dairy-page-inside img {
        height: 150px;
        width: 150px;

        margin-top: 10px;
        position: absolute;
        top: 0%;
        right: 0;

        z-index: 999;


    }

    .page-text {
        width: 50%;
    }

    .todo-dairy {
        background-color: rgb(30, 30, 31);
        margin-top: 20%;
        border-radius: 15px;
        padding: 10px;
    }

    .todo-dairy h2 {
        text-align: center;
        color: white;
    }

    .main-todo {
        list-style: none;
        height: 4.5vh;
        background: rgb(241, 198, 198);
        display: block;
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        overflow-y: scroll;

    }

    .todo-status {
        min-height: 10vh;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color: black;
        border-radius: 10px;
        margin-top: 10px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 10px;
    }

    .todo-img-box {
        height: 100px;
        width: 100px;
        background-color: rebeccapurple;
    }

    .todo-img-box img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .todo-add-btn {
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: rgb(176, 197, 239);
        font-weight: 600;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
        width: 90%;
        height: 50px;
        display: block;
        cursor: pointer;
    }

    /* Add todo */
    .add-todo {
        padding: 10px;
        margin-top: 50px;
        height: fit-content;
        overflow-y: scroll;
        border-radius: 20px;
        background-color: rgb(50, 52, 53);
        padding-bottom: 20px;
    }

    .add-todo p {
        margin-top: 10px;
        color: rgb(131, 126, 126);

    }

    .todo-form {
        margin-top: 20px;
        padding: 10px;
    }

    .add-todo label {
        color: rgb(255, 255, 255);

        font-size: 20px;
    }

    .add-todo input,
    .add-todo textarea {
        width: 60%;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        height: 50px !important;
        display: inline-block;

    }

    .todo-input-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .todo-added {
        position: absolute;
        bottom: 0%;
        right: 50%;
        transform: translate(50%);
        color: white;
        background: white;
        width: 40%;
        height: 50px;
        color: black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
    }

    .todo-visible {
        bottom: 20%;
        z-index: 9999;
    }

    /* User Login */
    .user-login {
        color: white;
        font-size: 25px;
        min-height: 30vh;
        background: rgb(54, 53, 53);
        border-radius: 15px;
        padding: 20px;
        margin-top: 50px;

    }

    .user-login-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }




    .user-login-form label {
        font-size: 20px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .user-login-form input {
        width: 60%;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        height: 60px !important;
        display: inline-block;

    }

    .login-btn {

        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: rgb(176, 197, 239);
        font-weight: 600;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
        width: 90%;
        height: 50px;
        display: block;
        cursor: pointer;
    }

    .quotes {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .quotes span:nth-child(1) {
        font-size: 18px;
        font-style: italic;
    }

    .quotes span:nth-child(2) {
        font-size: 14px;
        font-style: italic;
    }



}